.login{
    margin: 0px 20px; 
}

.login-container{
  margin: 30px auto;  
  max-width: 768px;
  text-align: center;
  padding: 20px 0px;
}

.titular{
    font-size: 24px;
    color: var(--color-grisOscuro);
    max-width: 768px;
    margin-bottom: 5px;
}

.login-form{
display: flex;
flex-wrap: wrap;
flex-direction: column;
 }

 .login-form-box{
    padding: 5px;
    width: 100%;
}

.login-form-box label{
    width: 100%;
    font-weight: bold;
}

.login-form-box input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

 .login-form-button{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 18px 5px;
 }

 .login-form-button a{
    color: white;
    font-weight: 500;
 }

 .login-form-button button{
    background-color: var(--color-celeste);
    font-size: 16px;
    display: block;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
 }


